{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#            <link#}
{#            href="{% static 'styles/styles.css' %}"#}
{#            rel="stylesheet"#}
{#    >#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>#}
{##}
{#        <!-- MAIN -->#}
{#        <script src="{% static 'js/main.js' %}"></script>#}
{##}
{#        <!-- ICONS -->#}
{#        <script  type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>#}
{##}
{#    <title>#}
{#        {% if title %}#}
{#            {{ title }}#}
{#        {% else %}#}
{#            Something#}
{#        {% endif %}#}
{#        | beautystyler#}
{#    </title>#}
{#    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">#}
{#</head>#}
{#<body>#}
{#<div class="container-fluid page-wrapper">#}
{#    {% include '_helpers/_headers.html' %}#}
{##}
{#    <div class="main-content">#}
{##}
{#        {% block content %}#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>#}
{##}
{#        <!-- MAIN -->#}
{#        <script src="{% static 'js/main.js' %}"></script>#}
{##}
{#        <!-- ICONS -->#}
{#        <script  type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>#}
{#        {% endblock %}#}
{#    </div>#}
{##}
{#    <footer class="my-footer">#}
{#        <div class="logo">#}
{#            <img src="{% static "images/senju.svg" %}"/>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}
{#</body>#}
{#</html>#}