{#{% load static %}#}
{##}
{#        <header class="l-header">#}
{#            <nav class="nav bd-grid">#}
{#                <div>#}
{#                    <a href="#" class="nav__logo">Bedimcode</a>#}
{#                </div>#}
{##}
{#                <div class="nav__menu" id="nav-menu">#}
{#                    <ul class="nav__list">#}
{#                        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>#}
{#                        <li class="nav__item"><a href="#" class="nav__link">About</a></li>#}
{#                        <li class="nav__item"><a href="#" class="nav__link">Services</a></li>#}
{#                        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>#}
{#                        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>#}
{#                    </ul>#}
{#                </div>#}
{##}
{#                <div class="nav__toggle" id="nav-toggle">#}
{#                    <ion-icon name="menu"></ion-icon>#}
{#                </div>#}
{#            </nav>#}
{#        </header>#}
{##}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>#}
{##}
{#        <!-- MAIN -->#}
{#        <script src="{% static 'js/main.js' %}"></script>#}
{##}
{#        <!-- ICONS -->#}
{#        <script  type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>#}